<aside>
    <ul>
        <li><a asp-area="Forum" asp-controller="Home" asp-action="Index">All Questions</a></li>
        <li><a asp-area="Forum" asp-controller="Questions" asp-action="Create">Ask Question</a></li>
    </ul>
</aside>