<aside class="site-sidebar">
    <div class="sidebar-links">
        <ul>
            <li><a class="nav-link" asp-area="Forum" asp-controller="Home" asp-action="Index">All Questions</a></li>
            <li><a class="nav-link" asp-area="Forum" asp-controller="Questions" asp-action="Create">Ask Question</a></li>
        </ul>
    </div>
</aside>