<aside>
    <ul>
        <li><a asp-area="Forum" asp-controller="Posts" asp-action="All">All Questions</a></li>
        <li><a asp-area="Forum" asp-controller="Posts" asp-action="New">Ask Question</a></li>
    </ul>
</aside>