@using Scio.Web.ViewModels.Forum.Posts
@model EditAnswerViewModel

@{
    ViewData["Title"] = "Edit Answer";
}

<article class="forum">
    <header>
        <h1>@Model.QuestionTitle</h1>
        <span>Asked @Model.CreatedOn.ToString("dd MMMM yyyy")</span>
    </header>
    <div class="forum-content">
        <div class="forum-post">
            <aside>
                <i class="fas fa-chevron-up"></i>
                <p>votes</p>
                <i class="fas fa-chevron-down"></i>
            </aside>
            <div class="forum-post-main">
                @Html.Raw(Model.QuestionBody)
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user-avatar.jpg">
                        <section>
                            <a href="#">@Model.AuthorEmail</a>
                            <span>user</span>
                        </section>
                    </div>
                    <div class="forum-post-tags">
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                    </div>
                </div>
            </div>
        </div>
        <h2>My Answer</h2>
        <form role="form" asp-area="Forum" asp-controller="Posts" asp-action="EditAnswer" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label for="tinymce">Body</label>
                <textarea asp-for="Body" id="mytextarea" name="body"></textarea>
                <span asp-validation-for="Body"></span>
            </div>
            <div class="form-group">
                <label for="question-tags">Tags</label>
                <input type="text" id="question-tags" name="tags">
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" name="id">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
    <partial name="_SideContentPartial" />
</article>