@using Scio.Web.ViewModels.Forum.Posts
@model CreateInputModel

@{
    ViewData["Title"] = "New";
}

<form class="forum" role="form" asp-area="Forum" asp-controller="Posts" asp-action="New" method="post">
    <header>
        <div class="form-group">
            <textarea asp-for="Title" type="text" id="question-title" name="title" rows="3"></textarea>
            <span asp-validation-for="Title"></span>
        </div>
    </header>
    <div class="forum-content">
        <div class="forum-post">
            <div class="forum-post-main">
                <div class="form-group">
                    <textarea asp-for="Body" id="mytextarea" name="body"></textarea>
                    <span asp-validation-for="Body"></span>
                </div>
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user-avatar.jpg">
                        <section>
                            <a href="#">username</a>
                            <span>role</span>
                        </section>
                    </div>
                    <div class="form-group align-right">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_SideContentPartial" />
</form>