@using Scio.Web.Areas.Forum.Models.Posts
@model CreateInputModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Ask Question";
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Forum" asp-controller="Posts" asp-action="All">Forum</a></li>
                        <li class="breadcrumb-item active">New</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <textarea asp-for="Title" id="question-title" rows="3" required></textarea>
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>
                <form class="card-body" role="form" asp-area="Forum" asp-controller="Posts" asp-action="New" method="post">
                    <section>
                        <div class="row">
                            <div class="col">
                                <textarea asp-for="PostBody" id="post-body"></textarea>
                                <span asp-validation-for="PostBody"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="user-block float-left">
                                    <img class="img-circle img-bordered-sm" src="~/img/default-user.png" alt="user image">
                                    <span class="username">
                                        <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">@User.FindFirst(ClaimTypes.Name).Value</a>
                                    </span>
                                    <span class="description">user email</span>
                                </div>
                            </div>
                            <div class="col md-3">
                                <button type="submit" class="float-right">Submit</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_TinyMCE" />
    <partial name="_ValidationScriptsPartial" />
}