<aside>
    <h3>Side Content</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem reprehenderit inventore sunt similique voluptatum ducimus sed, beatae eaque expedita earum fugiat dolores veritatis. Minima itaque maiores non atque optio nesciunt reiciendis ut eos sequi cum perspiciatis odit, iure numquam. Modi voluptate id earum commodi, assumenda odit molestias nobis.</p>
</aside>