@using System.Security.Claims
@using Scio.Common

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
        <img src="~/lib/admin-lte/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">@GlobalConstants.SystemName</span>
    </a>
    <div class="sidebar">
        <nav class="mt-5">
            <ul class="nav nav-pills nav-sidebar flex-column small-only mt-3" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Forum" asp-controller="Posts" asp-action="All">
                        <p>Forum</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Classroom" asp-controller="Courses" asp-action="Home">
                        <p>Courses</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-sidebar flex-column mt-3" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Classroom" asp-controller="Courses" asp-action="Home">
                        <i class="nav-icon far fa-image"></i>
                        <p>All Courses</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Classroom" asp-controller="Courses" asp-action="New">
                        <i class="nav-icon far fa-image"></i>
                        <p>New Course</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
