<aside>
    <ul>
        <li><a asp-area="Classroom" asp-controller="Courses" asp-action="All">All Courses</a></li>
        <li><a asp-area="Classroom" asp-controller="Courses" asp-action="New">New Course</a></li>
    </ul>
</aside>