@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<article class="user-form">
    <section class="account-form">
        <h2>@ViewData["Title"]</h2>
        <p>You have successfully confirmed your email address.</p>
        <a class="form-button" asp-area="" asp-controller="Home" asp-action="Index">Continue</a>
    </section>
</article>
