@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="account-form-content">
    <div class="account-form">
        <h2>@ViewData["Title"]</h2>
        <p>Please check your email to reset your password.</p>
        <a class="form-button" asp-area="" asp-controller="Home" asp-action="Index">Continue</a>
        @*<form asp-area="" asp-controller="Home" asp-action="Index">
            <button type="submit">Continue</button>
        </form>*@
    </div>
</div>

