@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="user-forms-content">
    <div class="login-form">
        <h2>@ViewData["Title"]</h2>
        <h3>Enter your email.</h3>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div class="form-group-input">
                    <input asp-for="Input.Email" placeholder="Email" />
                    <i class="far fa-envelope"></i>
                </div>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
