@page
@model RegisterModel
@{
    ViewData["Title"] = "Create new account";
}

<article class="user-form">
    <section class="account-form">
        <h1>@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group-input">
                    <input asp-for="Input.Email" placeholder="Email" />
                    <i class="far fa-envelope"></i>
                </div>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-group">
                <div class="form-group-input">
                    <input type="password" asp-for="Input.Password" placeholder="Password" />
                    <i class="fas fa-lock"></i>
                </div>
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group">
                <div class="form-group-input">
                    <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />
                    <i class="fas fa-lock"></i>
                </div>
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
            <div class="form-group">
                <p>Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
            </div>
        </form>
    </section>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
