@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="account-form-content">
    <div class="account-form">
        <h2>@ViewData["Title"]</h2>
        <p>Your password has been reset.</p>
        <a class="form-button" asp-page="./Login">Login</a>
    </div>
</div>