@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<article class="user-form">
    <section class="account-form">
        <h1>@ViewData["Title"]</h1>
        <p>Your password has been reset.</p>
        <a class="form-button" asp-page="./Login">Login</a>
    </section>
</article>