@using Scio.Web.ViewModels.Classroom.Exams
@model InputModel
@using System.Security.Claims

@{
    ViewData["Title"] = "New Exam";
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Create exam</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Home">Courses</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-body">
                    <h2>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h2>
                    <form role="form" asp-area="Classroom" asp-controller="Exams" asp-action="New" method="post">
                        <div class="form-group">
                            <label asp-for="Title">Title:</label>
                            <textarea asp-for="Title" class="form-control"></textarea>
                            <span asp-validation-for="Title"></span>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Opens">Opens:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input id="opens" asp-for="Opens" type="text" class="form-control float-right">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Closes">Closes:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input id="closes" asp-for="Closes" type="text" class="form-control float-right">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Duration">Duration:</label>
                                    <input asp-for="Duration" type="number" class="form-control">
                                    <span asp-validation-for="Duration"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-8">
                                                <label for="course-title">Accept after closing time</label>
                                            </div>
                                            <div class="col-4">
                                                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate float-right">
                                                    <div class="bootstrap-switch-container">
                                                        <span class="bootstrap-switch-handle-on bootstrap-switch-success">YES</span>
                                                        <span class="bootstrap-switch-label">&nbsp;</span>
                                                        <span class="bootstrap-switch-handle-off bootstrap-switch-danger">NO</span>
                                                        <input type="checkbox" name="my-checkbox">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ol id="questions" class="pl-3 mb-3">
                            </ol>
                            <div class="col-12 col-md-6 m-auto">
                                <div class="btn btn-flat btn-outline-info btn-block btn-sm" onclick="addQuestion()">
                                    Add Question <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group align-right">
                            <input type="hidden" value="@ViewData["CourseId"]" name="courseId" />
                            <div class="form-group align-right">
                                <button type="submit" class="btn btn-info btn-flat btn-block-md float-right pl-4 pr-4"><i class="fas fa-save"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script>
        $(function () {
            //$('#opens').datetimepicker({
            //    format: 'LT'
            //})
            //$('#closes').datetimepicker({
            //    format: 'LT'
            //})
            $('#opens').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
        })
    </script>
    <script src="~/js/bootstrap-switch.js"></script>
}