<footer class="site-footer">
    <div class="footer-content">
        <div>
            <strong>&copy; @DateTime.Now.Year - scio </strong>- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div>version 1.0.0</div>
    </div>
</footer>