<input type="checkbox" id="site-nav-toggle">
<header class="site-header">
    <div class="site-header-content">
        <div class="site-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">scio</a>
        </div>
        <nav class="site-nav">
            <ul class="navbar-main">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Forum" asp-controller="Home" asp-action="Index">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
        <label for="site-nav-toggle" class="site-nav-label">
            <i class="fas fa-bars"></i>
        </label>
    </div>
</header>