<input type="checkbox" id="site-nav-toggle">
<header>
    <div class="site-header-content">
        <div class="site-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">scio</a>
        </div>
        <nav>
            <ul class="navbar-main">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="Forum" asp-controller="Home" asp-action="Index">Forum</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
        <label for="site-nav-toggle">
            <i class="fas fa-bars"></i>
        </label>
    </div>
</header>
