@using Scio.Web.ViewModels.Forum.Answers
@model EditViewModel

@{
    ViewData["Title"] = "Details";
}

<article class="forum">
    <header>
        <h1>@Model.QuestionTitle</h1>
    </header>
    <div class="forum-content">
        <div class="forum-card">
            <aside>
                <i class="fas fa-chevron-up"></i>
                <p>votes</p>
                <i class="fas fa-chevron-down"></i>
            </aside>
            <div class="forum-card-main">
                @Html.Raw(Model.QuestionContent)
                <div class="forum-card-footer">
                    <div class="forum-card-tags">
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                    </div>
                    <div class="user-card">
                        <div class="user-img-container">
                            <img src="~/img/default-user-avatar.jpg">
                        </div>
                        <div class="user-card-details">
                            <a href="">@Model.AuthorEmail</a>
                            <span>user</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>My Answer</h2>
        <form role="form" asp-area="Forum" asp-controller="Answers" asp-action="Edit" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label for="tinymce">Body</label>
                <textarea asp-for="Content" id="mytextarea" name="content"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label for="question-tags">Tags</label>
                <input type="text" id="question-tags" name="tags">
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" name="id">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
    <partial name="_SideContentPartial" />
</article>