@using Scio.Web.ViewModels.Classroom.Courses
@model InputModel
@using System.Security.Claims

@{
    ViewData["Title"] = "New";
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Course Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Home">Courses</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-body">
                    <form class="forum" role="form" asp-area="Classroom" asp-controller="Courses" asp-action="New" method="post">
                        <header>
                            <div class="form-group">
                                <select name="type" class="form-control">
                                    <option value="0">Public</option>
                                    <option value="1">Private</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Title" id="question-title" rows="3" required class="form-control"></textarea>
                                <span asp-validation-for="Title"></span>
                            </div>
                        </header>
                        <div class="forum-content">
                            <div class="forum-post">
                                <div class="forum-post-main">
                                    <div class="form-group">
                                        <textarea asp-for="Description" id="mytextarea"></textarea>
                                        <span asp-validation-for="Description"></span>
                                    </div>
                                    <div class="user-block float-left">
                                        <img class="img-circle img-bordered-sm" src="~/img/default-user.png" alt="user image">
                                        <span class="username">
                                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">@User.FindFirstValue(ClaimTypes.Name)</a>
                                        </span>
                                        <span class="description">user</span>
                                    </div>
                                    <div class="form-group align-right">
                                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_TinyMCE" />
    <partial name="_ValidationScriptsPartial" />
}