@using Scio.Web.ViewModels.Forum.Questions
@model EditViewModel

@{
    ViewData["Title"] = "Edit Question";
}

<article class="forum">
    <header>
        <h1>Ask Question</h1>
    </header>
    <div class="forum-content">
        <form role="form" asp-area="Forum" asp-controller="Questions" asp-action="Edit" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label for="question-title">Title</label>
                <input asp-for="Title" type="text" id="question-title" name="title">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label for="tinymce">Body</label>
                <textarea asp-for="Content" id="mytextarea" name="content"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label for="question-tags">Tags</label>
                <input type="text" id="question-tags" name="tags">
            </div>
            <div class="form-group">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
    <partial name="_SideContentPartial" />
</article>