@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="aside-main-content">
    <aside class="site-sidebar">
        <div class="sidebar-links">
            <partial name="_ManageNav" />
        </div>
    </aside>
    <main class="site-main">
        <div class="manage-account">
            <h2>Manage your account</h2>
            @RenderBody()
        </div>
    </main>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
