@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="site-main-content">
    <aside>
        <partial name="_ManageNav" />
    </aside>
    <article class="manage-account">
        <h2>Manage your account</h2>
        @RenderBody()
    </article>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
