@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<article class="content">
    <aside>
        <partial name="_ManageNav" />
    </aside>
    <section class="manage-account">
        <h2>Manage your account</h2>
        @RenderBody()
    </section>
</article>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
