.manage-account {
    padding: 5em 1em;
}

.manage-account h2 {
    padding-bottom: 0.5em;
}

.account {
    width: 100%;
    padding: 2em 0;
}

@media (min-width: 641px) {
    .account {
        display: flex;
        justify-content: space-evenly;
        padding: 7em 0;
    }
}

.account-profile {
    text-align: center;
    min-width: 290px;
    padding: 0 1em;
}

.account-profile ul{
    padding: 0.5em 0;
}

.account-profile li {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5em 0;
}

.account-details {
    flex: 0 1 550px;
    padding: 0 1em;
}

.account-details li {
    display: flex;
    justify-content: space-between;
}

.account-details h4 {
    padding-top: 1.5em;
}

.image-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}