:root {
    --custom-dark: #1b262c;
    --custom-color-dark: #0f4c75;
    --custom-color: #3282b8;
    --custom-color-light: #bbe1fa;
    --custom-font-light: #e0ffff;

    --main-dark: var(--custom-dark);
    --accent-main-dark: var(--custom-color);
    --accent-main-light: var(--custom-color-light);
    --border-light: #c2c3c3;
    --font-dark: #4b4e52;
    --font-light: #f0f0f0;
    --font-error: #db2831;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.1rem;
}

a {
    color: var(--accent-main-dark);
}

button {
    font-size: inherit;
    padding: 0.3em 0.7em;
    color: var(--font-light);
    background-color: var(--accent-main-dark);
    border: none;
    outline:none;
}

button:hover {
    background-color:  #3a94cf;
}

textarea {
    font: inherit;
    width: 100%;
    padding: 0.1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-light); 
    outline-color: var(--accent-main-light);
}

.i-spinner {
    animation: spin-animation 1s infinite;
    display: inline-block;
}
  
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/* Main */
.site > main {    
    width: 100%;
    min-height: calc(100vh - 2rem);
    padding-top: 3em;
    color: var(--font-dark);
}

.site-main-content {
    max-width: 1280px;
    margin: 0 auto;
}

@media (min-width: 840px) {
    .site-main-content {
        display: flex;
    }
}

/* Sidebar */
@media (min-width: 840px) {
    .site-main-content > aside {
        min-width: 170px;
        border-right: 1px solid var(--border-light);
    } 
}

.site-main-content > aside > ul {
    position: sticky;
    top: 170px;
}

@media (max-width: 839px){
    .site-main-content > aside > ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.site-main-content > aside > ul li {
    padding: 0.5em;
}

@media (max-width: 839px){
    .site-main-content > aside > ul li:hover {
        background-color: var(--accent-main-dark);
    }
}

@media (min-width: 840px) {
    .site-main-content > aside > ul li {
        border: 1px solid var(--background-color);
    }
    
    .site-main-content > aside > ul li:hover {
        border-top: 1px solid var(--border-light);
        border-bottom: 1px solid var(--border-light);
        border-right: 5px solid var(--accent-main-dark);
    }
}

.site-main-content > aside > ul a {
    color: var(--font-dark);
}

/* Footer */
.site > footer {
    display: flex;
    font-size: 0.9em;
    height: 2rem;
    width: 100%;
    background-color: var(--main-dark);
    color: var(--font-light);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 1em;
}

.footer-content a {
    color: inherit;
}

/* User forms */
.user-form {
    min-height: calc(100vh - 5em);
}

@media (min-width: 481px) {
    .user-form {
        display: flex;
        background-color: var(--background-color-gr);
    }
}

.user-form button {
    width: 100%;
}

.account-form {
    width: 430px;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 1em;
}

@media (min-width: 481px){
    .account-form {
        margin: auto;
        border: 1px solid var(--border-light);
    }
}

.account-form a.form-button {
    margin-top: 1em;
    font: 21px Verdana;
    padding: 7px 17px;
    float: right;
    color: var(--font-light);
    background-color: var(--accent-main-dark);
    color: var(--font-light);
}

.validation-summary-errors ul {
    list-style-type: none;
    color: var(--font-error);
}

/* .form-group {
    margin-top: 1.3em;
} */

.form-group > span {
    display: block;
    height: 1em;
    font-size: 0.8rem;
    color: var(--font-error);
}

.form-group-input {
    display: flex;
    padding: 5px 2px;
    border-bottom: 3px solid var(--accent-main-dark);
}

.form-group-input input {
    font-size: 1.1rem;
    color: var(--font-dark);
    flex: auto;
    border: none;
}

.form-group-input input:-webkit-autofill,
.form-group-input input:-webkit-autofill:hover, 
.form-group-input input:-webkit-autofill:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
} 

.form-group-input input:-webkit-autofill::first-line {
    font-size: 1.1rem;
}

.form-group-input input:focus {
    outline: none;
}

.form-group-input i {
    font-size: 1.1rem;
    color: var(--font-dark);
    opacity: 0.9;
}

.form-group-flex {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
/* Home page */
.home-page {
    text-align: center;
}

.home-card > a{
    color: var(--custom-dark);
}

.home-page-header {
    height: 570px;
    background-color: var(--custom-color);
    background-image: url("/img/home.jpg");
    background-position: top left;
}

.home-page-header h1 {
    font-size: 5em;
    color: var(--custom-font-light);
}

.home-page-content > .row{
    max-width: 1300px;
    margin: auto;
}

.home-card{
    position: relative;
    top: -127px;
    height: 100%;
    padding: 33px;
    text-align: center;
}

@media (max-width: 991px) {
    .home-card{
        margin:auto;
        max-width: 530px;
    }
}

.home-card i {
    font-size: 7em;
}

.home-card h2 {
    font-size: 2em;
}

/* Privacy page*/
.privacy-page {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/* Forum */
.forum-post {
    display: flex;
    width: 100%;
}

.forum-post > aside {
    text-align: center;
    margin-right: 1rem;
}

.forum-post > aside > div {
    line-height: 1.3em;
    font-size: 0.8em;
}

.forum-post > section {
    width: 100%;
}

.forum-post-tags span {
    background-color: var(--accent-main-light);
    border-radius: 5px;
    margin: 2px;
}

.forum-post-tags span a {
    color: var(--accent-main-dark);
    white-space: nowrap;
    padding: 0.5em;
}

.forum-post-comments {
    font-size: 0.9em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
/* Account */
.manage-account {
    padding: 5em 1em;
}

.manage-account h2 {
    padding-bottom: 0.5em;
}

.account {
    width: 100%;
    padding: 2em 0;
}

@media (min-width: 641px) {
    .account {
        display: flex;
        justify-content: space-evenly;
        padding: 7em 0;
    }
}

.account-profile {
    text-align: center;
    min-width: 290px;
    padding: 0 1em;
}

.account-profile ul{
    padding: 0.5em 0;
}

.account-profile li {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5em 0;
}

.account-details {
    flex: 0 1 550px;
    padding: 0 1em;
}

.account-details li {
    display: flex;
    justify-content: space-between;
}

.account-details h4 {
    padding-top: 1.5em;
}

.image-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
/* Additional */
html, body, .wrapper {
    min-width: 430px;
}

.main-sidebar{
	box-shadow: none !important;
}

.nav-item button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

/* @media (min-width: 1200px){
	.content-wrapper {
		position: fixed;
	}
} */

/* .content {
	max-width: 1400px;
	margin: auto;
} */

@media (min-width: 1200px){
	.content-flex {
		display: flex;
		justify-content: space-evenly;
	}
}

.content-flex > .container-fluid {
	overflow: auto;
}

@media (min-width: 1200px){
	.content-flex > .container-fluid {
		height: 100vh;
	}

	.main-content{
		flex: 1;
		margin: 0 auto;
	}

	.side-content{
		flex: 0 0 470px;
		margin: 0 auto;
	}
}

.card-header span {
	font-size: 0.8rem;
}

.align-right {
    text-align: right;
}

.card-comments {
	background: none;
}


.small-only {
	border-bottom: 1px solid #4f5962;
}

@media (min-width: 768px){
	.small-only {
		visibility:hidden;
	}
}