:root {
    --main-dark: #2d363d;
    --accent-main-dark: #0e8fc2;
    --accent-main-light: #c9e0f0c5;
    --border-light: #c2c3c3;
    --font-dark: #4b4e52;
    --font-light: #f0f0f0;
    --font-error: #db2831;
    --background-color: #fefefe;
    --background-color-gr: #e9ecef;

  }

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 15px/1.5 Verdana, sans-serif;
    height: 100%;
}

@media (min-width: 1025px){
    html {
        font-size: 17px;
    }
}
  
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

::placeholder {
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: inherit;
}

